@media (max-width:1199px) {
    .navbar-nav>li {
        float: none;
        text-align: center;
        display: inline-block;
    }
}
@media (max-width:991px) {
    #carousel-example-generic{
        min-height: 360px;
    }
    .top-header .top-header-middle .logo{
        width: 40%;
    }
    .top-header .top-header-bottom p {
        text-align: center;
    }
    .top-header .top-header-bottom img {   
        width: 25%; 
        margin: 0 auto;
        float: none;
    }
    .top-header .top-header-left .col-lg-12.col-md-12:first-child {
        margin-bottom: 0px;
    }
    .top-header .top-header-left {
        padding: 0;
    }
    .top-header {
        padding: 10px 0 15px;
    }
    .top-header .top-header-left .col-lg-12.col-md-12:first-child {  
        margin-top: 0px;
    }
    .text-sm-center{
        text-align: center;
    }
}
@media (max-width:767px) {

}
@media (max-width:575px) {

}
@media (max-width:479px) {

}
@media (min-width:480px) {

}
@media (min-width:576px) {

}
@media (min-width:768px) {

}
@media (min-width:992px) {
    .what-we-do .plus-decorator::before, .what-we-do .plus-decorator::after {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 80%;
        max-width: 500px;
        height: 1px;
        -webkit-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        -moz-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        -ms-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        -o-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
    }
    .what-we-do .plus-decorator::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .banner-form {
    position: absolute;
    }
}
@media (min-width:1200px) {

}


