@media (max-width:1199px) {
   .navbar-nav>li {
     float: none; 
    text-align: center;
    display: inline-block;
} 
}
@media (max-width:991px) {
    
}
@media (max-width:767px) {
    
}
@media (max-width:575px) {
    
}
@media (max-width:479px) {
    
}
@media (min-width:480px) {
    
}
@media (min-width:576px) {
    
}
@media (min-width:768px) {
    
}
@media (min-width:992px) {
    
}
@media (min-width:1200px) {
    
}


