@media (max-width:1199px) {
    .navbar-nav>li {
        float: none;
        text-align: center;
        display: inline-block;
    }
}
@media (max-width:991px) {
    #carousel-example-generic{
        min-height: 360px;
    }
    .top-header .top-header-middle .logo{
        width: 60%;
    }
    .top-header .top-header-middle .logo {
        float: left;
    }
    .top-header .top-header-bottom img {
        margin-top: 0px;
        width: 39%;
    }
    .top-header .top-header-bottom p {
        margin: 0px 0 10px;
    }
    .top-header .top-header-left .col-lg-12.col-md-12:first-child {
        margin-bottom: 0px;
    }
    .top-header .top-header-left {
        padding: 0;
    }
    .top-header {
        padding: 10px 0 15px;
    }
    .top-header .top-header-left .col-lg-12.col-md-12:first-child {  
        margin-top: 0px;
    }
    .text-sm-center{
        text-align: center;
    }
    .top-header-left .col-sm-6.text-xs-center:last-child{
        text-align: right;
    }
    .top-header-left .text-xs-center:first-child {
        margin-bottom: 0;
    }
    .banner-form form ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-sec .footer-forth-sec ul li {
    width: 46%;
    display: inline-block;
}
.video-audio-sec .col-lg-7.col-md-7.col-sm-12:first-child{
    margin-bottom: 30px;
}
}
@media (max-width:767px) {
    .text-xs-center{
        text-align: center;
    }
}
@media (max-width:575px) {

}
@media (max-width:479px) {

}
@media (min-width:480px) {

}
@media (min-width:576px) {

}
@media (min-width:768px) {

}
@media (min-width:992px) {
    .what-we-do .plus-decorator::before, .what-we-do .plus-decorator::after {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 80%;
        max-width: 500px;
        height: 1px;
        -webkit-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        -moz-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        -ms-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        -o-background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #7d7d7d, rgba(0, 0, 0, 0));
    }
    .what-we-do .plus-decorator::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .banner-form {
        position: absolute;
    }
}
@media (min-width:1200px) {

}


