/*Top Header Section*/
.top-header{
    background-color: #0728c4;
    padding:10px 0 5px;
    float:left;
    width:100%;
    height:auto;
}
.top-header .top-header-left {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight: 400;
    color:#fff;
    padding:10px 0;
}
.top-header .top-header-left ul{
    display:inline-block;
    padding:0;

}
.top-header .top-header-left ul li{
    display:inline-block;
}
.top-header .top-header-left ul li a{
    display:inline-block;
    padding:0 4px;
    font-size:17px;
    color:#fff;
}
.top-header .top-header-left .col-lg-12.col-md-12:first-child{
    margin-bottom:30px;
    margin-top:5px;
}
.top-header .top-header-middle .logo{
    width: 95%;
    margin: 0 auto;
}
.top-header .top-header-bottom img{
    float:right;
}
.top-header .top-header-bottom p{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight: 400;
    color:#fff;
    text-align: right;
    margin: 10px 0;
}
.top-header .top-header-bottom img{
    margin-top:10px;
    width:48%;
    height:auto;
}
/*Menu Section*/
.menu-sec {
    background-color: #ffd200;
    padding:10px 0;
    float:left;
    width:100%;
    height:auto;
    margin-bottom: 0px;
}
.menu-sec ul li a{
    color:#022a68;
}
.navbar-toggle {
    background-color: white;
}
.navbar-toggle .icon-bar {
    background-color: #040404;
}
/*Banner Section*/
.banner-sec{
    width:100%;
    float:left;
    position: relative;
}
/*Form Section*/
.banner-form{
    float:left;
    width:100%;
    position:absolute;
    top: 0;
    bottom: 0;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;

}
.banner-form form{
    background:rgba(0,0,0,0.5);
    width:100%;
    max-width:940px;
    margin:0 auto;
    padding:40px;
}
.banner-form h1{
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.banner-form form ul {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
.banner-form form ul li{
    display: block;
}
.banner-form form ul li input{
    border-radius: 0px;
    padding: 8px 8px;
    background-color: rgba(255, 255, 255, 0);
    border-color: #828282;
}
.banner-form form ul li input.date-box{
    background-image:url(../images/calender.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 5px right 5px;
}
.banner-form form ul li input.date-box{
    padding-right:30px;
}
.banner-form form ul li input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight: 600;
}
.banner-form form ul li input::-moz-placeholder { /* Firefox 19+ */
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight: 600;

}
.banner-form form ul li input:-ms-input-placeholder { /* IE 10+ */
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight: 600;
}
.banner-form form ul li input:-moz-placeholder { /* Firefox 18- */
    color: #292929;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight: 600;
}
.banner-form .control-box{
    padding: 5px;
    background: rgba(255, 255, 255, 0.79);
}
.banner-form form ul li input::-webkit-inner-spin-button,
.banner-form form ul li input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-control:focus {
    border-color: #828282;
}
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow:none;
}
.banner-form li:last-child .control-box {
    padding:0;
}
.banner-form .submit-button{
    text-align: center;
}
.banner-form button{
    background:#ffd200;
    text-transform:uppercase;
    border-color:#ffd200;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-shadow:none;
    padding: 10px 40px;
    transition:all ease-in-out 0.5s;
}
.banner-form button.btn-default:hover {
    background-color: transparent;
    background-position: 0 -15px;
    color:#ffd200;
    border-color:#ffd200;

}
/*About Section*/
.about{
    width:100%;
    float:left;
    height:auto;
    background: #fff;
    padding:45px;
}
.sec-title{
    color:#022a68;
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin:0;
    padding-bottom: 30px;

}
.underline:before{
    content: '';
    border-radius: 10px;
    width: 100px;
    height: 4px;
    background-color: #022a68;
    position: absolute;
    bottom: 11px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.underline:after{
    content: '';
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #022a68;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #fff;
}
.about p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#000;
    font-weight:400;
    line-height: 34px;
    margin-top: 20px;
}
.wrap-btn{
    text-align: center;
    margin-top: 50px;
}
.wrap-btn a{
    background:#0023c9;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 10px;
    border:1px solid #0023c9;
    transition: all ease-in-out 0.5s;
}
.wrap-btn a:hover{
    text-decoration: none;
    background: transparent;
    border:1px solid #0023c9;
    color:#0023c9;
}
/*what-we-do Section*/
.what-we-do{
    width: 100%;
    height: auto;
    float: left;
    background: #f4f4f4;
    padding: 55px 0;
    position: relative;
    z-index: 2;
}
.what-we-do .underline:after{
    border-color: #f4f4f4;
}
.what-we-do .wrap-btn a{
    background: #ffd200;
    border-color: #ffd200;
    color: #022a68;
    padding: 15px 70px;
}
.what-we-do .wrap-btn a:hover{
    background: transparent;
    border-color: #022a68;

}
.what-we-do .portfolio-item img{
    width:60px;
    height:60px;
    margin: 0 auto;
}
.what-we-do .card-title{
    text-align: center;
    margin: 25px 0;
}
.what-we-do .card-title a{
    color:#292929;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.what-we-do .card-title a:focus, .what-we-do .card-title a:hover{
    text-decoration: none;
}
.what-we-do p{
    color:#292929;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 22px;
}
.portfolio-item{   
    margin-bottom: 40px;   
}
.what-we-do .plus-decorator {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/*Award Section*/
.award-sec{
    width:100%;
    height:auto;
    float:left;
    background: #4f4f4f;
    padding:50px 0px;
}
.award-sec .bx-pager.bx-default-pager{
    display: none;
}
.award-sec .bx-wrapper {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    border-width: 0px; 
}
.award-sec .bx-wrapper .bx-prev {
    left: -45px;    
    background: url('../images/left-arrow.png') no-repeat;
}
.award-sec .bx-wrapper .bx-next {
    right: -65px;    
    background: url('../images/right-arrow.png') no-repeat;
}
.award-sec .bxslider h3, .award-sec .bxslider p{
    color:#fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
.award-sec .bxslider p{
    margin-bottom: 0px;
}
.award-sec .bxslider img{
    margin:0 auto;
}
.bx-wrapper .bx-controls-direction a {
    top: 40%;
}
/*Video Audio Section*/
.video-audio-sec{
    width:100%;
    height:auto;
    float:left;
    background: #f4f4f4;
    padding: 80px 0;
}
.video-audio-sec h3{
    margin-top:0px;
    color:#022a68;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;    
}
.video-audio-sec p{
    color:#292929;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    line-height: 22px;
}
.video-audio-sec .wrap-btn a {
    background: #ffd200;
    border-color: #ffd200;
    color: #022a68;
    padding: 10px 40px;
}
.video-audio-sec .wrap-btn a:hover {
    background: transparent;
    border-color: #022a68;
}
.video-audio-sec .wrap-btn {
    text-align: left;
}
.video-audio-sec video{
    border:4px solid #b9b9b9;
    margin-bottom: 30px;
}
.video-audio-sec audio{
    border:1px solid #ccc;
    width: 100%;
}
/*Testimonial Section*/
.testimonial-sec{
    width:100%;
    height:auto;
    float:left;
    background: #f2fafa;
    padding: 70px 0;
    background-image: url(../images/Quote_background_transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

}
.testimonial-sec .underline:after {
    border-color: #f2fafa;
}
.testimonial-sec .bx-pager.bx-default-pager{
    display: none;
}
.testimonial-sec .bx-viewport{
    text-align: center;
}
.testimonial-sec .bx-wrapper {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
    border-width: 0px; 
}
.testimonial-sec .bx-wrapper h3{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#292929;
}
.testimonial-sec .bx-wrapper i{
    color:#aaaaaa;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.testimonial-sec .bx-wrapper p{
    color:#292929;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top:30px;
}
.testimonial-sec .bx-wrapper .bx-prev {
    left: -45px;  
    width: 23px;
    height: 43px;
    background: url('../images/left-testi-arrow.png') no-repeat;
}
.testimonial-sec .bx-wrapper .bx-next {
    width: 23px;
    height: 43px;
    right: -65px;    
    background: url('../images/right-testi-arrow.png') no-repeat;
}
.testimonial-sec .bx-wrapper{
    width:70%;
    margin: 0 auto;
}
.testimonial-sec ul li{
    display: inline-block;
}
.testimonial-sec ul{
    padding:0px;
}
/*Client list Section*/
.client-list{
    width:100%;
    height:auto;
    float:left;
    background: #fff;
    padding: 40px 0;
}
.client-list img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all ease-in-out 0.5s;
}
.client-list img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.client-list ul li{
    padding:0 10px;
}
/*Footer Section*/
.footer-sec{
    width:100%;
    height:auto;
    float:left;
    background: #1c1c1c;
    padding: 65px 0;
}
.footer-sec h3{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#e2e2e2;
    margin-bottom: 20px;
}
.footer-sec .footer-first-sec p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#e2e2e2;
}
.footer-sec .footer-first-sec ul,.footer-sec .footer-second-sec ul, .footer-sec .footer-forth-sec ul{
    padding: 0px;
}
.footer-sec .footer-first-sec ul li, .footer-sec .footer-second-sec ul li{
    list-style-type: none;
}
.footer-sec .footer-first-sec ul li{
    padding-left: 40px;
    position: relative;
}
.footer-sec .footer-first-sec ul li:before {
    content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 0;
}
.footer-sec .footer-first-sec ul li.phone-icon:before {
    content: "\f095";
}
.footer-sec .footer-first-sec ul li.fax-icon:before {
    content: "\f1ac";
}
.footer-sec .footer-first-sec ul li.email-icon:before {
    content: "\f0e0";
}
.footer-sec .footer-first-sec ul li i{
    color:#fff;
    font-size: 20px;
}
.footer-sec .footer-second-sec ul li:before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
        text-decoration: inherit;
    color: #fff;
    font-size: 8px;
    padding-right: 0.5em;
    position: absolute;
    top: 7px;
    left: 0;
}
.footer-sec .footer-second-sec ul li{
    padding-left: 25px;
    position: relative;
}
.footer-sec .footer-second-sec ul li a{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#e2e2e2;
    line-height: 25px;
    transition: all ease-in-out 0.5s;
}
.footer-sec .footer-second-sec ul li a:hover{
    color:#0023c9;
}
.footer-sec .footer-forth-sec ul li{
   list-style-type: none; 
   margin-bottom: 10px;
}
/*Bottom Footer Section*/
.bottom-footer{
    width:100%;
    height:auto;
    float:left;
    background: #111111;
    padding: 30px 0;
}
.bottom-footer p{
    color:#5f5e5e;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    margin:0px;
}
